# Flutter/Dart
.dart_tool/
.packages
.pub-cache/
.flutter-plugins
.flutter-plugins-dependencies
build/

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Android
android/.gradle/
android/local.properties
android/app/build/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# macOS
macos/Flutter/ephemeral/

# Windows
windows/build/

# Linux
linux/build/
